<div class="popup">

    <div class="popup__header" id="header">
        <div class="popup__header-icon"></div>
        <div class="popup__header-title">{{ address }}</div>  
        <div class="popup__header-close" id="close"></div>
    </div>

    <div class="popup__content">
        <ul class="popup__list">
            {{#if reviews}}
                {{#each reviews}}
                    <li class="popup__list-item">
                        <div class="popup__list-item-header">
                            <div class="popup__list-item-name">{{ name }}</div>
                            <div class="popup__list-item-place">{{ place }}</div>
                            <div class="popup__list-item-date">{{ date }}</div>
                        </div>    
                        <div class="popup__list-item-text">{{ review }}</div>
                    </li>
                {{/each}}
            {{else}}
                <li class="popup__list-item">
                    <div class="popup__list-item-header">
                        <div class="popup__list-item-name">Пока отзывов нет...</div>
                    </div>
                </li>
            {{/if}}
        </ul>
    </div>

    <form class="popup__form">
        <div class="popup__form-title">ваш отзыв</div>
        <input id="name" type="text" class="form-field" placeholder="Ваше имя">
        <input id="place" type="text" class="form-field" placeholder="Укажите место">
        <textarea id="review" class="form-field form-field_textarea" placeholder="Поделитесь впечатлениями"></textarea>
        <button id="save" type="submit" class="button popup__form-button">Добавить</button>
    </form>

</div>
